{% trans_default_domain 'FOSUserBundle' %}

		
           
            
<div class="wrap-profile">            
	<div class="fos_user_user_show">
		<div class="profile-username">
	    	<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
		</div>
		<div class="profile-mail">
	    	<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
	    </div>
	    {#<p>{{ 'profile.show.date_of_birth'|trans }}: {{ user.date_of_birth }}</p>
          <button class="btn btn-dark" href="/profile/edit" >Edit</button>#}
	</div>
      
</div>		
            