{% block head %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">  
		<div class="row">
			<div class="navbar-collapse col" id="navbarSupportedContent" >
				<div class="search-bar"><a class="navbar-brand" href="/"><img src="{{ asset('assets/img/logo.png') }}" alt=""></a>
				{{ form_start(form, { 'attr': {'action': path('results')} }) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
				</div>
			</div>
			
			
			<ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-lien" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                             <a class="dropdown-item" href="{{ path('user_profile', { 'user': app.user.id }) }}">Votre compte</a>
                             {% else %}
                             <a class="dropdown-item" href="/login" id="connexion">Connexion</a>
                             <a class="dropdown-item" href="/register">Créer un compte</a>
                             {%endif%}
                            
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-lien" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon panier
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lien" href="#">CONFIGURATOR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lien" href="{{ path('cpu') }}">Processeur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lien" href="{{ path('motherboard') }}">Carte mère</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lien" href="{{ path('memory') }}">Mémoire</a>
                    </li>
                </ul>
            </div>




		</nav>
{% endblock %}